:root {
        --title: 'ZAEROSpace';
        --logo: url(https://i.ibb.co/Z6dtQXD/main.png);
        --background: url(https://i.ibb.co/XjKTXWT/P5-BG.png);
        --font: 'Quicksand';
        --Primary: rgb(239, 13, 13);
        /* --animation: var(--Primary), rgb(0, 225, 255); */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(0, 99, 156);
        --Unavailable: rgb(228, 15, 0);
        --Offline: rgb(90, 95, 100);
        --Playing: url(https://cdn.discordapp.com/attachments/476154188494143498/680898006937370645/provenance.jpg);
        --Xbox: url(https://cdn.discordapp.com/attachments/476154188494143498/680898003246252176/energyunion.jpg);
        --Spotify: url(https://cdn.discordapp.com/attachments/476154188494143498/680898009122340937/spacestorm.jpg);
        --Streaming: url(https://cdn.discordapp.com/attachments/476154188494143498/680897535828557844/aldebaran.jpg);
        --grey: rgb(92, 72, 72);
        --grey5: rgba(92, 72, 72, 0.5);
        --darkgrey: rgb(57, 51, 55);
        --darkgrey5: rgba(57, 51, 55, 0.75);
        --reddo: rgba(252,15,15,.7);
        --version: '2.1';
        --time: 5s;
        --TitleBG: var(--darkgrey5);
        --Sidebar: var(--darkgrey5);
        --ChatBox: var(--darkgrey5);
        --SendMessage: var(--darkgrey);
        --HoverMessage: var(--darkgrey5);
        --JoinUs: 'Hey! Wanna have some fun.. Join US !';
        --AddNewServer: '➕ Add a new server';
        --Close: url(https://i.ibb.co/qxvHbVb/close.png);
        --Resize: '🔵';
        --Hide: '⚫';
        --ProfilePic: 'Watch me';
        --Unread: '✨';
        --Options: '🔧';
        --Channel: url(https://i.ibb.co/qdJnVPH/chat.png);
        --Voice: "🔊";
        --Micro: url(https://i.ibb.co/NTFBL3R/mike.png)
        --Headset: url(https://i.ibb.co/jfCCpyc/headset.png);
        --Emoji: url(https://i.ibb.co/YDqFhDs/emotes.png);
        --EmojiHover: url(https://i.ibb.co/WKxy2ZM/emotes-hl.png);
        --Community: 'purpies';
        --WelcomeMessage: 'Theme base designed by Purple Wizard.';
        --Watermark: 'Made with 💖 by Purple Wizard';
        --EditStatus: 'Put another status';
        --Folders: url(https://i.ibb.co/C1j2b7j/folder.png);
        --FoldersOpen: url(https://i.ibb.co/zVT41Xz/folder-closed.png);
        --ServerSize: 45px;
}
/* Setting colors for different parts */
.theme-light, .theme-dark {
        --header-primary: white;
        --header-secondary: white;
        --text-normal: white;
        --text-muted: rgba(255, 255, 255, .5);
        --text-link: var(--Primary);
        --channels-default: white;
        --interactive-normal: white;
        --interactive-hover: white;
        --interactive-active: white;
        --interactive-muted: var(--grey);
        --background-primary: var(--darkgrey);
        --background-secondary: var(--darkgrey);
        --background-secondary-alt: var(--grey);
        --background-tertiary: var(--grey);
        --background-accent: var(--grey);
        --background-floating: var(--darkgrey5);
        --background-mobile-primary: #36393f;
        --background-mobile-secondary: #2f3136;
        --background-modifier-hover: rgba(79, 84, 92, 0.16);
        --background-modifier-active: var(--darkgrey5);
        --background-modifier-selected: rgba(79, 84, 92, 0.32);
        --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
        --background-message-hover: var(--HoverMessage);
        --bd-blue: var(--Primary);
        --bd-blue-hover: var(--Primary);
        --bd-blue-active: var(--Primary);
        --blurple: var(--Primary);
}


.container-1r6BKw>.children-19S4PO>.iconWrapper-2OrFZ1>svg, .base-1x0h_U {
        color: white;
}

.layers-3iHuyZ {
        position: static;
}
